*{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: sans-serif;
    background-color: aquamarine;
}
.navi_bar {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

}
