<!DOCTYPE html>
<html lang="en"  xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th=“https://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h2 th:each="post:${category.posts}"><a th:href="@{'/categories/'+ ${category.name}}"></a>
    <h2 th:text="${post.postTitle}" ></h2>
    <h3 th:text="${post.description}" ></h3>
    <h3 th:text="${post.publishedDate}" ></h3>

</h2>
<div th:each="post : ${category.posts}" th:text = "${category.name}"></div>
<form action="/post/{id}" method="POST">
    <input name="categoryName" type="text">
    <button type="submit">Add post</button>
</form>



</body>
</html>